<%= form_for(@writing) do |f| %>
  <% if @writing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@writing.errors.count, "error") %> prohibited this writing from being saved:</h2>

      <ul>
      <% @writing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Диагноз %><br>
    <%= f.text_field :diagnosis %>
  </div>
  <div class="field">
    <%= f.label :Лечение %><br>
    <%= f.text_field :treatment %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit, 'Добавить запись' %>
  </div>
<% end %>
