<p id="notice"><%= notice %></p>

<p>
  <strong>Диагноз:</strong>
  <%= @writing.diagnosis %>
</p>

<p>
  <strong>Лечение:</strong>
  <%= @writing.treatment %>
</p>

<p>
  <strong>Пациент:</strong>
  <%= @writing.patient %>
</p>

<%= link_to 'Редактировать', edit_writing_path(@writing) %> |
<%= link_to 'Назад', writings_path %>
